body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 20px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  background: #0f7692;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(224, 9, 184, 0.397);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 10px;
  margin: 5px 5px 10px 0;
  width: calc(50% - 12px);
  box-sizing: border-box;
}

input[type="text"]:first-child {
  width: 100%;
  margin-bottom: 15px;
}

.add-book-form {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

button {
  padding: 10px 15px;
  border: none;
  background-color: #ff8800;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: #0056b3;
}

.book-list .book-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  background-color: #fafafa;
}
